/* 읽기 모드(수정 아님)일 때 스타일 */
.todo-description:not(.edit-mode),
.todo-description:not(.edit-mode):focus,
.todo-description:not(.edit-mode):active {
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  /* box-shadow: none; */
  caret-color: transparent;
  cursor: pointer;
  resize: none;
}

/* 수정 모드일 때 스타일 (기본 textarea 스타일 유지, 필요시 추가) */
.todo-description.edit-mode {
  width: 80%;
  background-color: #fff;
  margin-left: var(--todo-padding-left);
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.todo-description.edit-mode:focus {
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: var(--focus-ring);
}
